* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.main_page {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
}

.top_main_page {
    background-color: #222;
    padding-left: 231px;
    padding-bottom: 16px;
    display: flex;
    column-gap: 859px;
}

.search {
    padding-top: 18px;
    display: flex;
    gap: 41px;
}

.search_link {
    padding-top: 10px;
}

.button_copy {
    display: flex;
    column-gap: 25px;
}

.drop_menu {
    padding-top: 31px;
}

.account {
    padding-top: 27px;
}

.count_in_basket {
    margin-left: 17px;
    position: relative;
}

.basket {
    padding-top: 27px;
    display: block;
    position: absolute;
}

.ellipse {
    padding-top: 19px;
    padding-left: 22px;
    display: block;
    position: absolute;
    z-index: 1;
}

.count {
    padding-top: 20px;
    padding-left: 29px;
    position: absolute;
    z-index: 2;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_block {
    display: flex;
    align-items: center;
    background-color: #f1e4e6;
    gap: 28px;
}

.top_page_man {
    max-width: 801px;
}

.rectangle_img {
    padding-left: 36px;
}

.top_block_text {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
}

.top_center_text {
    font-size: 32px;
    font-weight: 700;
}

.top_end_text {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}

.center_block {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    justify-content: center;
}

.center_top {
    min-height: 260px;
    position: relative;
}

.center_woman_left {
    max-width: 100%;
    position: absolute;
    z-index: 0;
}

.center_top_color {
    width: 360px;
    min-height: 260px;
    position: absolute;
    background-color: rgba(33, 22, 22, 0.70);
    z-index: 1;
}

.center_top_text {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    z-index: 2;
}

.center_top_red {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.center_top_left {
    padding-top: 105px;
    padding-left: 103px;
}

.center_top_center {
    padding-top: 105px;
    padding-left: 125px;
}

.center_bottom {
    min-height: 180px;
    grid-column: span 3;
    position: relative;
}

.center_bottom_color {
    width: 1140px;
    min-height: 180px;
    background-color: rgba(33, 22, 22, 0.70);
    position: absolute;
    z-index: 1;
}

.center_bottom_position {
    padding-top: 65px;
    padding-left: 491px;
}

.bottom_block {
    padding-top: 96px;
}
.bottom_block_heading {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_block_text {
    padding-top: 6px;
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_grid {
    margin-top: 47px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    justify-content: center;

}


.bottom_top_text {
    display: flex;
    width: 360px;
    padding: 24px 0px 20px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.bottom_top_text_heading {
    color: #000;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bottom_top_text_center {
    color: #5D5D5D;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.bottom_top_price {
    color: #F16D7F;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bottom_top_center_image {
    background-color: #f7e4e2;
    padding: 9px 110px 11px 108px;
}

.bottom_top_center_rectangle {
    height: 0;
}

.rectangle_basket_img {
    visibility: hidden;
}

.rectangle_text {
    visibility: hidden;
}

.bottom_block_button_div {
    width: 212px;
    height: 48px;
    border: 1px solid #ff6a6a;
    margin-top: 48px;
    margin-bottom: 60px;
    margin-left: calc(50% - 106px);
}

.bottom_button {
    display: block;
    text-decoration: none;
    padding-top: 15px;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .main_page {
        max-width: 768px;
    }

    .top_main_page {
        padding-left: 32px;
        padding-bottom: 15px;
        display: flex;
        column-gap: 424px;
    }

    .top_block {
        column-gap: 16px;
    }

    .top_page_man {
        max-width: 386px;
    }

    .rectangle_img {
        padding-left: 23px;
    }
    
    .top_block_text {
        font-size: 44px;
        line-height: 35px;
    }

    .top_center_text {
        font-size: 24px;
    }
    
    .top_end_text {
        font-size: 24px;
    }

    .center_block {
        margin-top: 65px;
        grid-template-columns: 232px 232px 232px;
        gap: 19px;
    }

    .center_top {
        min-height: 167px;
     }

    .center_top_color {
        width: 232px;
        min-height: 167px;
        position: absolute;
        background-color: rgba(33, 22, 22, 0.70);
        z-index: 1;
     }
    .center_top_left {
        padding-top: 59px;
        padding-left: 40px;
     }

     .center_top_center {
        padding-top: 57px;
        padding-left: 61px;
     }

     .center_bottom {
        min-height: 116px;
        grid-column: span 3;
        position: relative;
    }
    
    .center_bottom_color {
        width: 735px;
        min-height: 116px;
        background-color: rgba(33, 22, 22, 0.70);
        position: absolute;
        z-index: 1;
    }
    
    .center_bottom_position {
        padding-top: 33px;
        padding-left: 287px;
    }

    .bottom_grid {
        margin-top: 47px;
        display: grid;
        grid-template-columns: 360px 360px;
        gap: 16px;
    }

    .bottom_top_center_image {
        min-height: 400px;
        position: relative;
    }

    .bottom_top_center_img {
        position: absolute;
        z-index: 0;
    }

    .bottom_top_center_color {
        width: 360px;
        height: 420px;
        background-color: rgba(58, 56, 56, 0.86);
        position: absolute;
        z-index: 1;
    }

    .bottom_top_center_rectangle {
        width: 139px;
        height: 44px;
        border: #FFF solid 1px;
        margin-top: 188px;
        margin-left: 111px;
        position: absolute;
        z-index: 2;
    }

    .rectangle_basket {
        padding-left: 14px;
        padding-top: 11px;
        display: flex;
    }

    .rectangle_basket_img {
        visibility: visible;
    }

    .rectangle_text {
        visibility: visible;
        margin-left: 9px;
        margin-top: 4px;
        color: #FFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}