* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.main_page {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
}

.top_main_page {
    background-color: #222;
    padding-left: 231px;
    padding-bottom: 16px;
    display: flex;
    column-gap: 859px;
}

.search {
    padding-top: 18px;
    display: flex;
    gap: 41px;
}

.search_link {
    padding-top: 10px;
}

.button_copy {
    /* padding-top: 26px; */
    display: flex;
    column-gap: 25px;
}

.drop_menu {
    padding-top: 31px;
}

.account {
    padding-top: 27px;
}

.count_in_basket {
    margin-left: 17px;
    position: relative;
}

.basket {
    padding-top: 27px;
    display: block;
    position: absolute;
}

.ellipse {
    padding-top: 19px;
    padding-left: 22px;
    display: block;
    position: absolute;
    z-index: 1;
}

.count {
    padding-top: 20px;
    padding-left: 29px;
    position: absolute;
    z-index: 2;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_block {
    display: flex;
    align-items: center;
    background-color: #f1e4e6;
    gap: 28px;
}

.top_page_man {
    max-width: 801px;
}

.rectangle_img {
    padding-left: 36px;
}

.top_block_text {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top_center_text {
    font-size: 32px;
    font-weight: 700;
}

.top_end_text {
    color: #F16D7F;
font-size: 32px;
font-weight: 700;
}

.center_block {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    justify-content: center;
}

.center_top_left {
    min-height: 260px;
    background-color: rgba(33, 22, 22, 0.70);
    background-image: url("../images/center_block_woman_left.svg");
    background-blend-mode:color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_top_text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.center_top_red {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.center_top_center {
    background-color: rgba(33, 22, 22, 0.70);
    background-image: url("../images/center_block_man_center.svg");
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_top_right {
    background-image: url("../images/center_block_woman_right.svg");
}

.center_bottom {
    min-height: 180px;
    grid-column: span 3;
    background-color: rgba(33, 22, 22, 0.70);
    background-image: url("../images/center_block_bottom.svg");
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_block {
    padding-top: 96px;
}
.bottom_block_heading {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_block_text {
    padding-top: 6px;
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_grid {
    margin-top: 47px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    justify-content: center;

}


.bottom_top_text {
    display: flex;
    width: 360px;
    padding: 24px 0px 20px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.bottom_top_text_heading {
    color: #000;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bottom_top_text_center {
    color: #5D5D5D;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.bottom_top_price {
    color: #F16D7F;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bottom_top_center_image {
    background-color: #f7e4e2;
    padding: 9px 110px 11px 108px;
}

.bottom_block_button_div {
    width: 212px;
    height: 48px;
    border: 1px solid #ff6a6a;
    margin-top: 48px;
    margin-bottom: 60px;
    margin-left: calc(50% - 106px);
}

.bottom_button {
    display: block;
    text-decoration: none;
    padding-top: 15px;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}